@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --primary-color:#7c3aed;
    --dark-gray:#6B7280;
    --off-white:#F3F4F6;

}

hr {
    margin: 1rem 0rem;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center
{
    max-width: 600px;
    margin: auto;

}
.link
{
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    color:white;
}
.link-primary
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color :white;
    text-align: center;

}
.secondary-link
{
    border: 2px solid var(white);
    border-radius: 1rem;
    color: var(white);
    text-align: center;
    
    

}
.list-non-bullet
{
    list-style: none;
}
.inline-list-item
{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation
{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    
   
    
}
.list-nav
{
    display: inline;
    padding: 0rem 0.5rem;
    
}
.nav
{
    color: white;
    text-align: right;
    text-decoration: none;
}
.nav-pills
{
    text-align: right;
    padding: 1rem;
}
.new-brand
{
    font-weight: bold;
    font-size: 1.5rem;
}
.link-active
{
    font-size: 1.2rem;
}

.hero
{
    font-size: 3rem;
}
.hero-image
{ 
    margin: auto;
    max-width: 350px;
    display: block;

}
.hero-heading
{
    color: var(--primary-color);
    text-align: center;
    padding-top: 1rem;
}
.hero-span
{
    color: var(--primary-color);
}
.section h1
{
   text-align: center;
}
.section
{
    padding: 2rem;
}
.ow
{
    background-color: var(--off-white);

}
.footer
{
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color :white;
    border-top-right-radius: 2rem;
}


}
.footer-heading
{
    font-size: large;
    font-weight: bold;
}
.section3 {
    margin: 4rem;
    font-weight: lighter;
    font-size: 150%;
    text-align: justify;
    }
    .section2{
        text-align: center;
        padding-top: 2rem;
    }
    .section9 {
    background-color: white;
    }