@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --primary-color:#7c3aed;

}

hr {
    margin: 1rem 0rem;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.container
{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container-center
{
    max-width: 600px;
    margin: auto;

}
.link
{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color :white;

}
.secondary-link
{
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    

}
.list-non-bullet
{
    list-style: none;
}
.inline-list-item
{
    display: inline;
    padding: 0rem 0.5rem;
}

.navigation
{
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 2rem;
    
   
    
}
.list-nav
{
    display: inline;
    padding: 0rem 0.5rem;
    
}
.nav
{
    color: white;
    text-align: right;
}
.nav-pills
{
    text-align: right;
    padding: 1rem;
}
.new-brand
{
    font-weight: bold;
    font-size: 1.5rem;
}
.link-active
{
    font-size: 1.2rem;
}